In [1]:
from inaFaceGender import GenderVideo, info2csv

/home/zrezgui/miniconda3/envs/py3k/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)
Using TensorFlow backend.

In [2]:
g = GenderVideo(threshold= 0.65)

WARNING:tensorflow:From /home/zrezgui/miniconda3/envs/py3k/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [4]:
# without tracking 
%time results = g('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4')

CPU times: user 37min 58s, sys: 29.9 s, total: 38min 28s
Wall time: 7min 12s

In [5]:
results.head()

   frame                      bb        size label  decision   conf
0    8.0  [(355, 87) (592, 265)]  (178, 178)     m     6.059  0.954
1    9.0  [(354, 87) (594, 267)]  (180, 180)     m     5.638  0.961
2   10.0  [(353, 85) (595, 267)]  (182, 182)     m     5.822  0.942
3   11.0  [(355, 86) (595, 266)]  (180, 180)     m     6.706  0.946
4   12.0  [(355, 87) (595, 267)]  (180, 180)     m     6.276  0.943

In [6]:
#processing every 2 frames
%time results_per_2_frames = g('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4', per_frames= 2 )

CPU times: user 19min 27s, sys: 15.4 s, total: 19min 43s
Wall time: 3min 42s

In [7]:
results_per_2_frames.head()

   frame                      bb        size label  decision   conf
0    8.0  [(355, 87) (592, 265)]  (178, 178)     m     6.059  0.954
1   10.0  [(353, 85) (595, 267)]  (182, 182)     m     5.822  0.942
2   12.0  [(355, 87) (595, 267)]  (180, 180)     m     6.276  0.943
3   14.0  [(356, 88) (594, 266)]  (178, 178)     m     6.239  0.951
4   16.0  [(358, 89) (594, 265)]  (176, 176)     m     6.429  0.958

In [8]:
#with tracking
%time tracking_results = g.detect_with_tracking('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4',k_frames=12)

CPU times: user 19min 3s, sys: 1min 1s, total: 20min 4s
Wall time: 4min 17s

In [10]:
tracking_results.head()

,frame,faceid,bb,size,label,decision,conf,smoothed_decision,smoothed_label
0,12.0,0,"[(355, 87) (597, 269)]","(242, 182)",m,8.007,0.943,9.8647,m
1,13.0,0,"[(355, 87) (596, 268)]","(241, 181)",m,8.452,0.943,9.8647,m
2,14.0,0,"[(355, 86) (597, 268)]","(242, 182)",m,8.271,0.943,9.8647,m
3,15.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.903,0.943,9.8647,m
4,16.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.966,0.943,9.8647,m

In [11]:
#processing every 2 frames
%time tracking_results = g.detect_with_tracking('/home/ddoukhan/demo_zohra/pretty_woman_small.mp4',per_frames=2, k_frames=12)

CPU times: user 12min 17s, sys: 36.3 s, total: 12min 53s
Wall time: 2min 33s

In [12]:
tracking_results.head()

,frame,faceid,bb,size,label,decision,conf,smoothed_decision,smoothed_label
0,12.0,0,"[(355, 87) (597, 269)]","(242, 182)",m,8.007,0.943,9.888375,m
1,14.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,8.360,0.943,9.888375,m
2,16.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.966,0.943,9.888375,m
3,18.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.584,0.943,9.888375,m
4,20.0,0,"[(355, 86) (596, 267)]","(241, 181)",m,7.630,0.943,9.888375,m